<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://damp2lxqd-uat.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/9e4a5af6-913c-4921-8ef5-1160ea5d5183/resourceGroups/DA-Automation/providers/Microsoft.Web/sites/damp2lxqd/slots/UAT</ResourceId>
    <UserName>$damp2lxqd__UAT</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://damp2lxqd-uat.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>